<div ondragstart="return false;" ondrop="return false;">
  <div style="position: fixed; background-color: transparent; top: 0px; left: 0px; width: 100%; height: 100%"></div>
  <div class="play_btn" (click)="callMethod(0, true);" *ngIf="enablePlay">
    <img style="width: 20vw;" src="assets/football/sprites/but_play.png" alt="">
  </div>
  <div class="controls">
    <div class="logo">
      <img src="assets/football/image/logo-hl8.svg" class="logo_icon" />
    </div>
    <div class="show-odds">
      <div class="show-odd-cont show-level2">
        <img src="assets/football/image/level1/odds-GK.png" />
        <span>0.5</span>
      </div>
      <div class="show-odd-cont show-level3">
        <img src="assets/football/image/level1/odds-defender.png" />
        <span>0.5</span>
      </div>
      <div class="show-odd-cont show-level1">
        <img src="assets/football/image/level1/odds-bg-round-rec.svg" />
        <span class="odd-gk">Goal Kick</span>
        <span>0.5</span>
      </div>
    </div>


    <div class="volume"></div>

  </div>
  <div id="timer" class="timer"> <span id="time">60</span><br /><span id="seconds">seconds</span> </div>
  <div class="bottom-container">
    <div class="Wrap">
      <div class="betAmount">
        <p class="stake-label"> Enter stake: </p>
        <img src="assets/football/image/minussign-icon.svg" class="minus stakeDown">
        <input style="text-align: center;width:43%;" type="number" value="1" name="pname" id="stakeAmount" step="1000">
        <img src="assets/football/image/plus-sign-icon.svg" class="plus stakeUp">
      </div>
      <div class="betvalue "></div>
    </div>
    <div class="tab1">
      <div class="Wallet left"> Game Wallet </div>
      <div class="Wallet right">Winnings </div>
      <div class="showScore">x <span class="scoreValue">0</span></div>
    </div>
    <div class="tab">
      <img src="assets/football/image/game logo@2x.png" class="icon">

      <div class="tablinks gameWallet">
        <span class="gameBalance">IDR 10,000</span>
        <div class="level-cont">
          <div id="level">Level</div>
          <div class="levels">
            <div class="level1 current-level">1</div>
            <img src="assets/football/image/level1/soccer-ball-icon.svg" class="soccer-ball-icon">
          </div>
        </div>
      </div>
      <div class="tablinks" style="right: 10%; top: 12%;position: relative;">
        <span class="winningAmount">IDR <span class="winAmount">0.00</span></span>
        <p class="winBet">maximum 100000000 winning amount</p>
      </div>
      <img class="cashOut" style="display: none;" src="assets/football/image/level2/cashout-btn.svg">
    </div>
  </div>
  <div class="popup-cont" style="display: none;">
    <div class="header-cont">
      <button class="game-info active">Game Info</button>
      <button class="instruction">Instruction</button>
      <img src="assets/football/image/close-popup.svg" class="close-popup" />
    </div>
    <div class="body-cont">
      <div class="popup-body game-info-content" style="padding: 5px 10px;"></div>
      <div class="popup-body instruction-content" style="display: none;padding: 10px 30px;">
        <ol>
          <li>instruction</li>
          <li>instruction</li>
          <li>instruction</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="popup-cont-2" *ngIf="popupContShow">
    <div class="cont-img">
      <img src="assets/football/image/top image-popup.svg" />
    </div>
    <div class="popup-body-cont">
      <!-- Cashout section -->
      <div class="cashout-cont" *ngIf="cashoutShow">
        <div class="cashout-content">
          <p>Are you sure you want to end the game and Cashout IDR ?</p>
          <p>You have a chance to win IDR 80,000 on the next level</p>
        </div>
        <div class="popup-btn-cont">
          <button class="btn-outline" (click)="resetPopup()">Cancel</button>
          <button class="btn-fill btn-pop-cashout">Cashout</button>  
        </div>
      </div>
      <!-- Cashout section -->
      <!-- Quit game section -->
      <div class="quit-cont text-center" *ngIf="quitShow">
        <div class="quit-content">
          <p>Are you sure you want to quit?</p>
        </div>
        <div class="popup-btn-cont">
          <button class="btn-outline" (click)="resetPopup()">Cancel</button>
          <button class="btn-fill btn-popup-quit">Quit</button>  
        </div>
      </div>
      <!-- Quit game section -->
      <!-- Insufficient funds section -->
      <div class="funds-cont" *ngIf="fundsShow">
        <div class="funds-content">
          <h3 class="text-center">Insufficient Funds</h3>
          <p>Minimum bet amount is IDR 1,000. Please make deposit to continue playing this game.</p>
        </div>
        <div class="popup-btn-cont">
          <button class="btn-outline" (click)="resetPopup()">Cancel</button>
          <button class="btn-fill btn-popup-funds">Deposit</button>  
        </div>
      </div>
      <!-- Insufficient funds section -->
      <!-- Times up section -->
      <div class="timesup-cont" *ngIf="timesupShow">
        <div class="timesup-content">
          <h3 class="text-center">Time’s Up!</h3>
          <p>Your time is up. Cashout will be applied.</p>
          <p>Cashout Amount : <span class="timesup-cash">IDR 2,000</span></p>
        </div>
        <div class="popup-btn-cont">
          <button class="btn-fill">Ok</button>  
        </div>
      </div>
      <!-- Times up section -->
      <!-- Earned section -->
      <div class="earned-cont text-center" *ngIf="earnedShow">
        <div class="earned-content">
          <p>Your time is up. Cashout will be applied.</p>
          <p>Cashout Amount : <span class="earned-cash">IDR 2,000</span></p>
        </div>
        <div class="popup-btn-cont">
          <button class="btn-fill">Ok</button>  
        </div>
      </div>
      <!-- Earned section -->
    </div>
  </div>

  <canvas id="canvas" class='ani_hack' width="1360" height="640"> </canvas>
  <div class="overlay_img">
    <!-- <img src="assets/football/image/bg_menu.jpg" alt=""> -->
  </div>
  <div id="block_game"
    style="position: fixed; background-color: transparent; top: 0px; left: 0px; width: 100%; height: 100%; display:none">
  </div>
  <div class="orientation">
    <img src="assets/football/image/orientation.png" />
  </div>
  <!-- <div style="position: absolute;z-index: 999;top: 0px;">
    <button (click)="resetPopup();popupContShow=!popupContShow;cashoutShow=!cashoutShow">cashoutShow</button>
    <button (click)="resetPopup();popupContShow=!popupContShow;quitShow=!quitShow">quitShow</button>
    <button (click)="resetPopup();popupContShow=!popupContShow;fundsShow=!fundsShow">fundsShow</button>
    <button (click)="resetPopup();popupContShow=!popupContShow;timesupShow=!timesupShow">timesupShow</button>
    <button (click)="resetPopup();popupContShow=!popupContShow;earnedShow=!earnedShow">earnedShow</button>
  </div> -->
</div>